
*.sw*
*.tr*
*.valog
sxcmd.*
*.pa*
*.st*
*.pvadir*
*.ic*
*MOSFET_Example*
*sx_crash.sx
*.nfs*
*.so
*.cir.log

*.prn
VerilogA/xyce_lib/*
VerilogA/Elibrary/xyce_lib/*
VerilogA/xyce_testing/basicTest/lib/*

*remoteComFiles

*tests/*

Components/verilogA_build/*
Components/scad_build/*
Components/HR3.3_merged.lef
*.ipynb_checkpoints/*
xyce_testing/*/*/logs/*
xyce_testing/*/*/*/logs/*
xyce_testing/*/*/*.log

__pycache__/
.libs/
