
*.sw*
*.tr*
*.valog
sxcmd.*
*.pa*
*.st*
*.pvadir*
*.ic*
*MOSFET_Example*
*sx_crash.sx
*.nfs*

*.prn
VerilogA/xyce_lib/*
VerilogA/Elibrary/xyce_lib/*
VerilogA/xyce_testing/basicTest/lib/*

*remoteComFiles

*tests/*
